#Hori Fighting Edge PS4

#inputs

input_driver = "xinput"
input_device = "Controller (FightingEdge4)"
input_vendor_id = "3853"
input_product_id = "192"
input_device_display_name = "Hori Fighting Edge PS4"

input_up_btn = "h0up"
input_down_btn = "h0down"
input_left_btn = "h0left"
input_right_btn = "h0right"

input_start_btn = "6"
input_select_btn = "7"

input_b_btn = "0"
input_a_btn = "1"
input_x_btn = "3"
input_y_btn = "2"

input_l_btn = "4"
input_r_axis = "+4"
input_l2_btn = "5"
input_r2_axis = "+5"

input_l3_btn = "8"
input_r3_btn = "9"


#labels

input_up_btn_label = "Stick Up"
input_down_btn_label = "Stick Down"
input_left_btn_label = "Stick Left"
input_right_btn_label = "Stick Right"

input_select_btn_label = "Share"
input_start_btn_label = "Start"

input_a_btn_label = "B"
input_b_btn_label = "A"
input_y_btn_label = "X"
input_x_btn_label = "Y"

input_l_btn_label = "Left Bumper"
input_r_axis_label = "Right Bumper"
input_l2_btn_label = "Left Shoulder"
input_r2_axis_label = "Right Shoulder"

input_l3_btn_label = "Small Right-Side Button 1"
input_r3_btn_label = "Small Right-Side Button 2"
